[submodule "MASUnit"]
	path = MASUnit
	url = https://github.com/CAAPIM/Android-MAS-Unit.git
	branch = develop
[submodule "Knox"]
	path = Knox
	url = https://github.com/CAAPIM/Android-MAS-Knox.git
	branch = develop
[submodule "fido"]
	path = fido
	url = https://github.com/CAAPIM/Android-MAS-FIDO
[submodule "ras"]
	path = Android-MAS-AdvancedAuth
	url = https://github.com/CAAPIM/Android-MAS-AdvancedAuth.git
	branch = develop
