[submodule "MASUnit"]
	path = MASUnit
	url = https://github.com/CAAPIM/Android-MAS-Unit.git
	branch = develop
[submodule "Knox"]
	path = Knox
	url = https://github-isl-01.ca.com/MAS/Android-MAS-Knox.git
	branch = develop
