<!--
  ~ Copyright (c) 2016 CA. All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the MIT license.  See the LICENSE file for details.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ca.mas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name">
        <service android:name="com.ca.mas.core.service.MssoService"
                 android:exported="false">
        </service>
        <service android:name="com.ca.mas.connecta.serviceprovider.ConnectaService"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
    </application>

</manifest>
